
<section class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-md-6">
            <h1><strong>What do we do?</strong></h1>
            <p>We create a digital base for your covert underground organisation to
                ensure that your potential hitlist is aware of how amazing your business is.</p>
            <p>Furthermore, what can go wrong with having a digital face of your firm
                in the network's infinite space? </p>
            <p>Stop hesitating and start expanding your network RIGHT NOW!</p>
            <small>*P/S: Everything here is just a gimmick. Basically we develop a website for your business and other
                thing to run your website + email. Don’t call a police on us.</small><br>
            <button type="button" class="btn btn-lg btn-primary mt-3">I'm Interested!</button>
        </div>
        <div class="col-md-6">
            <img src="assets/content/map.png" alt="">
        </div>
    </div>
</section>

<section class="container text-center">
    <h1 class="mb-5"><strong>Select Your Mission</strong></h1>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>001.</strong><span> Single Attack</span></h5>
                    <p class="card-text">Make yourself a <strong>LANDING PAGE</strong> for
                        the deadly marketing</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>002.</strong><span> Full Attack</span></h5>
                    <p class="card-text">Develop a full <strong>WEBSITE</strong> for your business abour your
                        services/product, your
                        business reputation or tell them your stories.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>003.</strong><span> Central Command System</span></h5>
                    <p class="card-text">We help you <strong>SETUP YOUR SERVER</strong> and control panel that allow you
                        to configure and
                        monitor the target.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>004.</strong><span>Surveliance
                            Monitoring</span></h5>
                    <p class="card-text">Hire us to <strong> MONITOR AND MAINTAIN YOUR SERVER</strong> for 365 days.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>005.</strong><span>Encrypted Comm.</span></h5>
                    <p class="card-text">Setup protected <strong>EMAIL</strong> for communication between your
                        organization and external
                        organization.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container my-5 text-center">
    <h1><strong>Secret Handshake</strong></h1>
    <div id="slider1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slider1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slider1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="container my-5 text-center">
    <h1><strong>Send the signal</strong></h1>
</section>
