<section class="main-background">
    <div class="grid place-items-center h-screen justify-items-center text-center ">
        <div class="shadow-2xl p-10 rounded-lg bg-white">
            <img src="assets/content/logo.png" alt="" class="w-64 mb-10 sm:w-32 mx-auto">
            <h1 class="font-lynnx text-3xl text-color__text_lynnx">Building a Successful Online Business</h1>
            <p class="font-lynnx mb-10">By Lynnx Digital Enterprise</p>
            <div class="flex 5flex-row justify-center ">
                <a href="mailto:inquiry@lynnx.io" class="basis-1/6" target="_blank">
                    {{ svg src="vendor/bootstrap-icons-1.8.1/envelope" class="fill-current text-mint" width="50" height="50" }}
                </a>
                <a href="https://www.linkedin.com/company/lynnx-digital-enterprise/" target="_blank" class="basis-1/7">
                    {{ svg src="vendor/bootstrap-icons-1.8.1/linkedin" class="fill-current text-mint" width="50 " height="50" }}
                </a>
            </div>
            <p class="mt-10">Powered by Statamic</p>

        </div>
    </div>
</section>
