@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    line-height: 79.47px;
    font-size: 64px;
    src: local('Righteous-Regular'), url(../fonts/Righteous-Regular.woff) format('woff');
}


.main-background {
    background-image: url('/assets/content/smile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
}
